viikko01-Viikko01_000.Hiekkalaatikko/
*.jar
*.xml
*.json
*.mf
*.properties
*.jpg
*/test/*
*.png
*/lib/*
/viikko10-Viikko10_175.Numerotiedustelu/build/
/viikko11-Viikko11_180.Joukkoja/nbproject/private/
/viikko11-Viikko11_178.SuurimpienLukujenSumma/nbproject/private/
/viikko11-Viikko11_179.SummaSummarum/nbproject/private/
/viikko11-Viikko11_176.Rengastustoimisto/nbproject/private/
/viikko11-Viikko11_181.HenkiloJaPerilliset/nbproject/private/
/viikko11-Viikko11_182.Varastointia/nbproject/private/
/viikko11-Viikko11_183.Maatilasimulaattori/nbproject/private/
/viikko11-Viikko11_177.PalindrominTunnistus/nbproject/private/
/viikko11-Viikko11_185.Luola/nbproject/private/
/viikko11-Viikko11_184.ErilaisiaLaatikoita/nbproject/private/