viikko01-Viikko01_000.Hiekkalaatikko/
*.jar
*.xml
*.json
*.mf
*.properties
*.jpg
*/test/*
*.png
*/lib/*
*/build/*
*/nbproject/private/*
*/dist/*
/viikko07-Viikko07_128.Tietokanta/build
/viikko08-Viikko08_137.EipasJuupas/build